@import '../utilities/variables';
.footer {
    display: flex;
    flex-flow: row wrap;
    color: #262525;
    background-color: rgba(241, 179, 118, 1);
    flex: 1 100%;
    .footer-img {
        img {
            width: 197.12px;
            height: 168px;
            margin-left: 90px;
            margin-top: 40px;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        ul li:first-child {
            margin-top: 20px;
        }
        li {
            margin-top: 12px;
            text-decoration: none;
        }
    }
    .footer-info {
        display: flex;
        flex-flow: row wrap;
        flex: 1 50%;
        justify-content: space-evenly;
        padding-top: 46px;
        .box a {
            color: black;
        }
    }
    .footer-bottom {
        margin-top: 45px;
        width: 100%;
        padding: 17px;
        text-align: center;
        text-decoration: none;
        background-color: rgba(248, 161, 75, 1);
    }
}