@import '../utilities/variables';
.navbar {
    background-color: #fff;
    font-size: $font-size;
    padding: 15px;
    .navbar-nav {
        margin-left: 89.5px;
    }
    .nav-item {
        margin-left: 41px;
        a {
            position: relative;
            display: block;
        }
        a:hover {
            background: none;
        }
        a::after {
            content: '';
            position: absolute;
            display: flex;
            bottom: 0;
            left: 0;
            height: 2.5px;
            width: 100%;
            background: linear-gradient(to right, #ff0000, #ff0000);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.25s ease-in-out;
        }
        a:hover::after {
            transform: scaleX(0.7);
        }
        #beyond::after {
            background: $beyond;
        }
        #portfolio::after {
            background: $portfolio;
        }
        #escuela-digital::after {
            background: $escuela-digital;
        }
        #proyecto-social::after {
            background: $proyecto-social;
        }
        #shop::after {
            background: $shop;
        }
        #contacto::after {
            background: $contacto;
        }
        // @each $pointer,
        // $effect in $nav-effects {
        //     a::after [pointer="#{$pointer}"] {
        //         background: $effect;
        //     }
        // }
    }
    .nav-item:first-child {
        margin-left: 19px;
    }
    .nav-link {
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
    .nav-social {
        margin-right: 30px;
        a {
            font-size: $font-size;
            margin-top: 12px;
            text-decoration: none;
            color: #000;
        }
    }
    .fa-facebook-square {
        margin-right: 30px;
    }
    .fa-instagram {
        margin-right: 58px;
    }
}