footer {
  background-color: #f1b376;
  width: 100%;
  height: 250px;
  bottom: 0; }
  footer img {
    width: 197.12px;
    height: 168px;
    margin-left: 90px;
    margin-top: 40px; }
  footer .footer-container {
    display: flex; }
    footer .footer-container .articles:first-child {
      margin: 46px 0 0 88.88px; }
  footer .articles {
    display: flex;
    flex-direction: column;
    margin: 46px 0 0 103px; }
    footer .articles a:first-child {
      margin-top: 20px; }
    footer .articles a {
      font-size: 15px;
      margin-top: 12px;
      text-decoration: none;
      color: #000; }

.rights {
  width: 100%;
  bottom: 0;
  background-color: #f8a14b;
  padding: 15px;
  text-align: center; }

.navbar {
  background-color: #fff;
  font-size: 15px;
  height: 77px; }
  .navbar .navbar-nav {
    margin-left: 89.5px; }
  .navbar .nav-item {
    margin-left: 41px; }
    .navbar .nav-item a {
      position: relative;
      display: block; }
    .navbar .nav-item a:hover {
      background: none; }
    .navbar .nav-item a::after {
      content: '';
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      height: 2.5px;
      width: 100%;
      background: linear-gradient(to right, #ff0000, #ff0000);
      z-index: 1;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.25s ease-in-out; }
    .navbar .nav-item a:hover::after {
      transform: scaleX(1); }
    .navbar .nav-item #beyond::after {
      background: #A9F6FE; }
    .navbar .nav-item #portfolio::after {
      background: #D8FF8C; }
    .navbar .nav-item #escuela-digital::after {
      background: #C48AF0; }
    .navbar .nav-item #proyecto-social::after {
      background: #F1B376; }
    .navbar .nav-item #shop::after {
      background: #FC95FF; }
    .navbar .nav-item #contacto::after {
      background: #A9F6FE; }
  .navbar .nav-item:first-child {
    margin-left: 19px; }
  .navbar .nav-link {
    font-weight: 600;
    color: black;
    text-decoration: none; }
  .navbar .nav-social {
    margin-right: 30px; }
    .navbar .nav-social a {
      font-size: 15px;
      margin-top: 12px;
      text-decoration: none;
      color: #000; }
  .navbar .fa-facebook-square {
    margin-right: 30px; }
  .navbar .fa-instagram {
    margin-right: 58px; }

.carousel-item {
  position: relative;
  height: 598.29px; }

.titulo {
  text-align: center;
  margin: 78px auto 52px auto; }

h3::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 212px;
  margin: 19px 0 0 -250px;
  background-color: #989898; }

h3::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 212px;
  margin: 19px 0 0 27px;
  background-color: #989898; }

.card-container {
  margin: 0 100px; }
  .card-container .card-deck {
    margin-top: 26px; }
  .card-container .card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
    position: relative;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    overflow: hidden; }
    .card-container .card .descripcion {
      display: none;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      padding: 10px;
      margin: 0;
      opacity: 1;
      transition: opacity 250ms ease-in-out; }
      .card-container .card .descripcion h5 {
        margin-top: 10px; }
  .card-container .trabajos:hover {
    opacity: 0.4;
    transition: opacity 250ms ease-in-out; }
    .card-container .trabajos:hover .descripcion {
      display: block; }
  .card-container .card-body {
    border: none; }

.card-container:last-child {
  margin-bottom: 100px; }

.about-ale .sub-container {
  height: 482px; }

.about-ale img {
  float: left;
  margin-right: 30px; }

.about-beyond {
  margin: 100px 0; }
  .about-beyond img {
    float: right;
    margin-left: 30px; }

.text-container .subtitulo {
  font-weight: 500;
  font-size: 35px; }

.text-container .texto {
  margin-top: 13px;
  font-size: 18px;
  font-weight: 400; }

.ba {
  margin-top: 120px; }

.btn-ba {
  bottom: 0;
  font-weight: 600px;
  color: #EC933C;
  border-color: #EC933C; }

.btn-ba:hover {
  color: white;
  background-color: #EC933C; }

.texto-container {
  margin: 43 0 65 0; }
  .texto-container .subtitulo {
    font-weight: 500;
    font-size: 30px;
    line-height: 43.35px; }
  .texto-container .texto {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px; }

.container-ba {
  width: 92%;
  margin: 50px auto; }
  .container-ba .card-taller {
    width: 23%;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-left: 20px;
    transition: 0.3s;
    border-top: 7px solid #A9F6FE;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
    .container-ba .card-taller .card-taller-img {
      height: 143px;
      width: 100%; }
    .container-ba .card-taller .card-body {
      padding: 19px 14px 27px 18px; }
      .container-ba .card-taller .card-body .card-title-ba {
        margin-bottom: 9px;
        font-size: 18px;
        font-weight: 500;
        padding-left: 1px; }
      .container-ba .card-taller .card-body .card-autor {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 12px; }
      .container-ba .card-taller .card-body a {
        margin-right: auto;
        color: #A9F6FE;
        border-color: #A9F6FE; }
      .container-ba .card-taller .card-body a:hover {
        color: white;
        background-color: #A9F6FE; }
  .container-ba .btn-membresia {
    border-color: #EC933C;
    margin-top: 32px;
    color: #EC933C; }
  .container-ba .btn-membresia:hover {
    color: white;
    background-color: #EC933C; }
  .container-ba .card-lideres {
    box-sizing: border-box;
    text-align: center; }
    .container-ba .card-lideres img {
      width: 20%;
      height: 275px;
      margin-bottom: 44px;
      margin-left: 20px; }

.texto-container {
  margin: 43 0 65 0; }
  .texto-container .subtitulo {
    font-weight: 500;
    font-size: 30px;
    line-height: 43.35px; }
  .texto-container .texto {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px; }

.container-ba {
  width: 92%;
  margin: 50px auto; }
  .container-ba .card-taller {
    width: 23%;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-left: 20px;
    transition: 0.3s;
    border-top: 7px solid #A9F6FE;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
    .container-ba .card-taller .card-taller-img {
      height: 143px;
      width: 100%; }
    .container-ba .card-taller .card-body {
      padding: 19px 14px 27px 18px; }
      .container-ba .card-taller .card-body .card-title-ba {
        margin-bottom: 9px;
        font-size: 18px;
        font-weight: 500;
        padding-left: 1px; }
      .container-ba .card-taller .card-body .card-autor {
        font-size: 12px;
        font-style: italic;
        margin-bottom: 12px; }
      .container-ba .card-taller .card-body a {
        margin-right: auto;
        color: #A9F6FE;
        border-color: #A9F6FE; }
      .container-ba .card-taller .card-body a:hover {
        color: white;
        background-color: #A9F6FE; }
  .container-ba .btn-membresia {
    border-color: #EC933C;
    margin-top: 32px;
    color: #EC933C; }
  .container-ba .btn-membresia:hover {
    color: white;
    background-color: #EC933C; }
  .container-ba .card-lideres {
    box-sizing: border-box;
    text-align: center; }
    .container-ba .card-lideres img {
      width: 20%;
      height: 275px;
      margin-bottom: 44px;
      margin-left: 20px; }

.card-auspiciantes {
  box-sizing: border-box;
  text-align: center; }
  .card-auspiciantes img {
    width: 20%;
    height: 60px;
    margin-left: 19px;
    margin-bottom: 30px; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Jost"; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }
