footer {
  background-color: #f1b376;
  width: 100%;
  height: 250px;
  bottom: 0; }
  footer img {
    width: 197.12px;
    height: 168px;
    margin-left: 90px;
    margin-top: 40px; }
  footer .footer-container {
    display: flex; }
    footer .footer-container .articles:first-child {
      margin: 46px 0 0 88.88px; }
  footer .articles {
    display: flex;
    flex-direction: column;
    margin: 46px 0 0 103px; }
    footer .articles a:first-child {
      margin-top: 20px; }
    footer .articles a {
      font-size: 15px;
      margin-top: 12px;
      text-decoration: none;
      color: #000; }

.rights {
  width: 100%;
  bottom: 0;
  background-color: #f8a14b;
  padding: 15px;
  text-align: center; }

.navbar {
  background-color: #fff;
  font-size: 15px;
  height: 77px; }
  .navbar .navbar-nav {
    margin-left: 89.5px; }
  .navbar .nav-item {
    margin-left: 41px; }
    .navbar .nav-item a {
      position: relative;
      display: block; }
    .navbar .nav-item a:hover {
      background: none; }
    .navbar .nav-item a::after {
      content: '';
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      height: 2.5px;
      width: 100%;
      background: linear-gradient(to right, #ff0000, #ff0000);
      z-index: 1;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.25s ease-in-out; }
    .navbar .nav-item a:hover::after {
      transform: scaleX(1); }
    .navbar .nav-item #beyond::after {
      background: #A9F6FE; }
    .navbar .nav-item #portfolio::after {
      background: #D8FF8C; }
    .navbar .nav-item #escuela-digital::after {
      background: #C48AF0; }
    .navbar .nav-item #proyecto-social::after {
      background: #F1B376; }
    .navbar .nav-item #shop::after {
      background: #FC95FF; }
    .navbar .nav-item #contacto::after {
      background: #A9F6FE; }
  .navbar .nav-item:first-child {
    margin-left: 19px; }
  .navbar .nav-link {
    font-weight: 600;
    color: black;
    text-decoration: none; }
  .navbar .nav-social {
    margin-right: 30px; }
    .navbar .nav-social a {
      font-size: 15px;
      margin-top: 12px;
      text-decoration: none;
      color: #000; }
  .navbar .fa-facebook-square {
    margin-right: 30px; }
  .navbar .fa-instagram {
    margin-right: 58px; }

.carousel-item {
  position: relative;
  height: 598.29px; }

.titulo {
  text-align: center;
  margin: 78px auto 52px auto; }

h3::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 212px;
  margin: 19px 0 0 -250px;
  background-color: #989898; }

h3::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 212px;
  margin: 19px 0 0 27px;
  background-color: #989898; }

.card-container {
  margin: 0 100px 89px 100px; }
  .card-container .card-deck {
    margin-top: 26px; }
  .card-container .card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
    position: relative;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    overflow: hidden; }
    .card-container .card .descripcion {
      display: none;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      z-index: 5;
      padding: 10px;
      margin: 0;
      opacity: 1;
      transition: opacity 250ms ease-in-out; }
      .card-container .card .descripcion h5 {
        margin-top: 10px; }
  .card-container .trabajos:hover {
    opacity: 0.4;
    transition: opacity 250ms ease-in-out; }
    .card-container .trabajos:hover .descripcion {
      display: block; }
  .card-container .card-body {
    border: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Jost"; }
