.btn-ba {
    bottom: 0;
    font-weight: 600px;
    color: $btn-ba;
    border-color: $btn-ba;
}

.btn-ba:hover {
    color: white;
    background-color: $btn-ba;
}

.beyond-info {
    margin-bottom: 80px;
    justify-content: space-between;
    .beyond-info-inner {
        flex: 0 0 50%;
        padding: 0;
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    img {
        width: 100%;
        padding: 0 30px;
        @media (max-width: 992px) {
            padding: 10px;
        }
        @media(max-width: 768px) {
            margin-bottom: 40px;
            padding: 0;
        }
    }
}

.text-container {
    padding: 0 14px;
    .titulo-beyond {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 13px;
    }
    .texto-beyond {
        font-size: 18px;
        font-weight: 400;
    }
    #btn-trabajos-beyond, #btn-acerca-beyond {
        margin-top: 31px;
        width: 226px;

        @media (max-width: 768px) {
            margin: 40px calc(50% - 113px);
        }
    }
}

@media (max-width: 768px) {
    img {
        width: 100%;
    }
    .text-container {
        #btn-trabajos-beyond {
            margin-top: 30px;
        }
    }
    #about-beyond {
        margin-top: 30px;
    }
    #about-ale {
        margin-bottom: 30px;
    }
}