@import '../utilities/variables';
.texto-container {
    margin: 43 0 65 0;
    .subtitulo {
        font-weight: 500;
        font-size: 30px;
        line-height: 43.35px;
    }
    .texto {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.01px;
    }
}

.container-ba {
    width: 92%;
    margin: 50px auto;
    .card-taller {
        width: 23%;
        background: white;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        margin-left: 20px;
        transition: 0.3s;
        border-top: 7px solid #A9F6FE;
        font-size: $font-size;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        .card-taller-img {
            height: 143px;
            width: 100%;
        }
        .card-body {
            padding: 19px 14px 27px 18px;
            .card-title-ba {
                margin-bottom: 9px;
                font-size: 18px;
                font-weight: 500;
                padding-left: 1px;
            }
            .card-autor {
                font-size: 12px;
                font-style: italic;
                margin-bottom: 12px;
            }
            a {
                margin-right: auto;
                color: #A9F6FE;
                border-color: #A9F6FE;
            }
            a:hover {
                color: white;
                background-color: #A9F6FE;
            }
        }
    }
    .btn-membresia {
        border-color: #EC933C;
        margin-top: 32px;
        color: #EC933C;
    }
    .btn-membresia:hover {
        color: white;
        background-color: #EC933C;
    }
    .card-lideres {
        box-sizing: border-box;
        justify-content: space-between;
        img {
            width: 275px;
            height: 275px;
            margin-bottom: 44px;
        }
    }
}