@import '../utilities/variables';
.texto-container {
    margin: 43 0 65 0;
    .subtitulo {
        font-weight: 500;
        font-size: 30px;
        line-height: 43.35px;
    }
    .texto {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.01px;
    }
}

.card {
    box-shadow: $shadow;
    .card-img-top-talleres {
        height: 143px;
    }
    .card-body {
        padding: 19px 14px 27px 18px;
        .card-title {
            font-size: 18px;
            font-style: normal;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 9px !important;
        }
        .card-subtitle {
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 12px !important;
        }
        .card-text {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 19px !important;
        }
        .btn-talleres-container {
            display: flex;
            justify-content: center;
        }
    }
}
#talleres-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.taller {
    width: 275px;
    min-height: 380px;
    margin-bottom: 40px;
}


.banner-index {
    .banner-escuela__text {
        background-color: #C2F65B;

        .boton {
            &:hover {
                color: #C2F65B;
            }
        }
    }
    .img-escueladigital {
        background-image: url(../images/imagen-escuela-digital.png);
    }

    @media (max-width: 1200px) {
        .banner-escuela__text {
            width: 60%;
        }
        .img-escueladigital {
            width: 40%;
        }
    }
    @media (max-width: 992px) {
        .banner-escuela__text {
            width: 100%;
        }
        .img-escueladigital {
            display: none;
        }
    }
}

.boton-escuela {
    font-family: $font;
    text-decoration: none;
    width: 137px;
    height: 30px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: #FFFFFF;
        color: #D0A6EF;
        box-shadow: unset;
        text-decoration: none;
        cursor: pointer;
    }
}