.carousel-item {
    height: 598.29px;
}

.titulo {
    text-align: center;
    margin: 63px auto 52px auto;
    font-weight: 700;
    color: #000000;
    font-size: 25px;

    @media (max-width: 768px) {
        margin: 40px auto;
    }
}
h3 {
    position: relative;
}
h3::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 2px;
    width: 215px;
    margin: 19px 0;
    transform: translateX(-400px);
    background-color: #B8B8B8;

    @media (max-width: 992px) {
        transform: translateX(-370px);
        width: 188px;
    }
}

h3::after {
    content: '';
    position: absolute;
    right: 50%;
    height: 2px;
    width: 215px;
    margin: 19px 0;
    transform: translateX(400px);
    background-color: #B8B8B8;
    
    @media (max-width: 992px) {
        transform: translateX(370px);
        width: 188px;
    }
}

.banner-index {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .banner-index__text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px;
        background-color: #D0A6EF;
        color: #FFFFFF;

        .banner__title {
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
        }
        .banner__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 40px;
        }

        .boton {
            font-family: $font;
            text-decoration: none;
            width: 178px;
            height: 43px;
            color: #FFFFFF;
            border: 1.5px solid #FFFFFF;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:hover {
                background-color: #FFFFFF;
                color: #D0A6EF;
                box-shadow: unset;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .banner-index__img {
        height: 100%;
        width: 50%;
        background-image: url(../images/beyond2.jfif);
        background-size: cover;
        background-position: center center;
    }

    @media (max-width: 992px) {
        
        .banner-index__text {
            width: 100%;
        } 
        .banner-index__img {
            display: none;
        }
    }
    @media (max-width: 768px) {
        height: auto;
        .banner-index__text {
            padding: 80px 50px;
        } 
    }
}



.card-container-ba {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    .card {
        height: 275px;
        width: 275px;
        box-shadow: $shadow;
        text-align: center;
        cursor: pointer;
        position: relative;
        opacity: 1;
        overflow: hidden;
        border: 1px solid #ccc;
        // margin-left: 25px;
        margin-bottom: 26px;

        .descripcion-container {        
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            margin: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .4s ease-in-out;

            .titulo-obra {
                font-size: 18px;
                font-weight: 700;
                font-family: $font;

                &:after, &:before {
                    display: none;
                }
            }
        }
    }
    .card-box {
        margin: 10px;
        
        @media (max-width: 645px) {
            width: calc(50% - 22px);
            height: auto;
        }
        .card-shop {
            position: relative;
            height: 275px;
            width: 275px;
            text-align: center;
            display: inline-block;
            @media (max-width: 645px) {
                width: 100%;
                height: auto;
            }
            .descripcion-container {        
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                margin: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all .4s ease-in-out;
    
                .titulo-obra {
                    font-size: 18px;
                    font-weight: 700;
                    font-family: $font;
    
                    &:after, &:before {
                        display: none;
                    }
                }
            }
            img {
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .tipo-articulo {
                margin-bottom: 7px;
                margin-top: 5px;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .titulo-obra {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 7px;
            }
            .precio {
                font-size: 15px;
                font-weight: 400;
            }

            &:hover {
                .descripcion-container {
                    opacity: 1;
                }
            }
        }
    }
}



.trabajos:hover {
 
    .descripcion-container {
        opacity: 1;
    }
}
// .trabajos, .card {
//     margin-right: 10px;
// }
@media (max-width: 768px) {
    h3::before {
        display: none;
    }
    h3::after {
        display: none;
    }
}