//Main
$font-size: 15px;
$font: 'Jost', sans-serif;
$shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
// Navbar
// $nav-effects: ( beyond: #A9F6FE, portfolio: #D8FF8C, escuela-digital: #C48AF0, proyecto-social: #F1B376, shop: #FC95FF, contacto: #A9F6FE);
$beyond: #A9F6FE;
$portfolio: #D8FF8C;
$escuela-digital: #C48AF0;
$proyecto-social: #F1B376;
$shop: #FC95FF;
$contacto: #A9F6FE;
//beyond
$btn-ba: #EC933C;